{% extends 'layout.html' %}

{% block body %}

<section class="abo">

    <div class="abo1">
        <span style="height:40px;
        width:80%;
        color:#009f4d;
        font-size:30px;
        font-weight:500;
        font-family: Georgia, 'Times New Roman', Times, serif;">KHETI</span>
        is our final year project in which we have used machine learning to predict the best crop to grow, best fertilizer to use and the diseases crops are 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;infected with using the
        demographic conditions of the area.<br>

        <div class="abo11">

        We sincerely would like to pay our deepest gratitude to <b>Arvind Kumar Tiwari (Project In-Charge)</b>  and <b>Prof. Hanuman Maurya (Project Guide)</b>,<br>Department of Computer Science and Engineering, Kamla Nehru Institute of Technology, Sultanpur.
        <br>Our project guide for their constant motivation to carry our works with utmost dedication. Without their constant support this project was a distant dream. 
        <br>We would like to pay sincere thanks to <b>Prof. Awadhesh Kumar (Head of Department, Computer Science and Engineering)</b>.

        </div>
        
    </div>
    <div class="submit">
        <div class="submit1">
            Submitted By:
        </div>
        <div class="submit2">
            <ul>
                <li>Aman Pratap Singh(19212)</li>
                <li>Abhinav Singh(19203)</li>
                </li>
            </ul>
        </div>
    </div>

</section>
{% endblock %}