{% extends 'layout.html' %}

{% block body %}

<section class="maincon">
<div class="blogcon">
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/1.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
            
        </div>
    </div>

    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/2.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/pyaaj-lhsun-meN-jaane-ddaaunii-phphuuNdii-ke">
                <span style="color: green;">प्याज/लहसुन में जाने डाउनी फफूंदी के विकास एवं रोकथाम तक का सम्पूर्ण विवरण</span>
            
            </a>
        </div>
    </div>

    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/3.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/krelaa-kii-in-unnt-kismeN-kii-kreN-khetii">
                <span style="color: green;">करेला की इन उन्नत किस्में की करें खेती, होगा अधिक मुनाफा</span>
            
            </a>
        </div>
    </div>

    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/4.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/baaypaas-vsaa-se-brhaaeN-pshuoN-meN-duudh">
                <span style="color: green;">बायपास वसा से बढ़ाएं पशुओं में दूध उत्पादन</span>
            
            </a>
        </div>
    </div>
    
</div>

<div class="blogcon">
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/51.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/in-baatoN-ko-dhyaan-meN-rkh-kr-sunishcit-kreN">
                <span style="color: green;">इन बातों को ध्यान में रख कर सुनिश्चित करें मूली की बेहतर पैदावार</span>
            
            </a>
        </div>
    </div>
    
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/7.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/gvaar-phlii-khrptvaar-se-km-n-hone-deN-phsl">
                <span style="color: green;">ग्वार फली: खरपतवार से कम न होने दें फसल उत्पादन क्षमता</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/8.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/krele-kii-khetii-krne-vaale-kisaan-jaan-leN">
                <span style="color: green;">करेले की खेती करने वाले किसान जान लें क्या है खेती का सही तरीका</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/10.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khtttte-phloN-ke-peddoN-pr-paauddrii-milddyuu">
                <span style="color: green;">खट्टे फलों के पेड़ों पर पाउडरी मिल्ड्यू के लक्षणों की जांच करना सीखे बस एक क्लिक पर</span>
            
            </a>
        </div>
    </div>
</div>

<div class="blogcon">
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/s2.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>

    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/s3.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/s4.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/13.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    
</div>

<div class="blogcon">
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/12.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/11.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/15.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/55.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    
</div>
<div class="blogcon">
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/87.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/51.jpeg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/18.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    <div class="blogcon1">

        <div class="blogimg">

            <img  class="blogimg1" src="{{ url_for('static', filename='images/17.jpg') }}" alt="">
        </div>
        <div class="blogcontent">
            <a href="https://kisan-app.agrevolution.in/dehaat/post/khiire-kii-phsl-ko-khtre-meN-ddaaltaa-thrips">
                <span style="color: green;">खीरे की फसल को खतरे में डालता थ्रिप्स कीटों का विस्तार</span>
            
            </a>
        </div>
    </div>
    
</div>

</section>
{% endblock %}