{% extends 'layout.html' %}

{% block body %}
<section class="govt">

    
    <div class="sec1">
            
            <div class="sec_1">
                <h5 class="p1">उo प्र o खाद्य एवं रसद विभाग</h5>
                <a href="https://fcs.up.gov.in/">
                  <span class="link"></span>
                </a>
            </div>
            
            <div class="sec_1">
                <h5 class="p1">किसान पंजीकरण हेतु विकल्प</h5>
                <a href="https://eproc.up.gov.in/wheat2324/Uparjan/Home_Reg.aspx">
                  <span class="link"></span>
                </a>
    
            </div>
            <div class="sec_1">
                <h5 class="p1">खाद्य एवं रसद विभाग</h5>
                <a href="https://eproc.up.gov.in/paddy2223/Uparjan/MangAccount/login_home.aspx">
                  <span class="link"></span>
                </a>
    
            </div>
            <div class="sec_1">
                <h5 class="p1">यूपी राशन कार्ड लिस्ट</h5>
                <a href="https://www.mykisan.net/post/up-ration-card-list">
                  <span class="link"></span>
                </a>
            </div>
    </div>

    
    

    <div class="sec2">
        <div class="blogcon">
            <div class="blogcon1">
        
                <div class="blogimg">
        
                    <img  class="blogimg1" src="{{ url_for('static', filename='images/govt1.jpeg') }}" alt="">
                </div>
                <div class="blogcontent">
                    <a href="https://mpkrishi.mp.gov.in/hindisite_New/suvidhaye_New.aspx">
                        <span style="color: green;">कृषि योजनायें</span>
                    
                    </a>
                    
                </div>
            </div>
        
            <div class="blogcon1">
        
                <div class="blogimg">
        
                    <img  class="blogimg1" src="{{ url_for('static', filename='images/govt2.jpeg') }}" alt="">
                </div>
                <div class="blogcontent">
                    <a href="https://www.khetiwadi.com/portal/Now-the-central-government-will-give-15-lakh-rupees-to-help-the-farmers">
                        <span style="color: green;">किसानों की मदद के लिए अब केंद्र सरकार देगी 15 लाख रूपये!</span>
                    
                    </a>
                </div>
            </div>
        
            <div class="blogcon1">
        
                <div class="blogimg">
        
                    <img  class="blogimg1" src="{{ url_for('static', filename='images/govt3.jpeg') }}" alt="">
                </div>
                <div class="blogcontent">
                    <a href="https://gem.gov.in/">
                        <span style="color: green;">कृषि यंत्र अनुदान</span>
                    
                    </a>
                </div>
            </div>
        
            <div class="blogcon1">
        
                <div class="blogimg">
        
                    <img  class="blogimg1" src="{{ url_for('static', filename='images/govt4.jpeg') }}" alt="">
                </div>
                <div class="blogcontent">
                    <a href="https://kisan-app.agrevolution.in/dehaat/post/baaypaas-vsaa-se-brhaaeN-pshuoN-meN-duudh">
                        <span style="color: green;">बायपास वसा से बढ़ाएं पशुओं में दूध उत्पादन</span>
                    
                    </a>
                </div>
            </div>
            
        </div>
        
        
        
           


    </div>


</section>

{% endblock %}